/* Here is your custom css styles. */
body {
    font-family: "PingFang SC", system-ui, "Helvetica Neue", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}

/* 1rem = 15px */

/* 首页自定义样式 */
article .card {
    border-radius: 0;
}

article .card .card-content {
    font-size: 0.86rem;

}

article .card .card-content .summary {
    height: 8rem;
    text-align: justify;
    line-height: 22px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

article .card .card-content .publish-info {}

/* 文章页自定义样式 */
#artDetail p,
#artDetail ul li,
#artDetail ol li {
    font-size: 0.93rem;
    text-align: justify;
    margin-bottom: 10px;
}

#artDetail .post-info {
    font-size: 0.93rem;
}

#artDetail .post-info div {
    margin-right: 30px;
}