<footer id="footer" class="f-cf">
    <%= theme.mail %>
    <% if (theme.social) { %>
    <% _.forEach(theme.social, function(value, key) { %>
    <% if (value) { %>
    · <a href="<%= url_for(value) %>" target="_blank" class="nav-icn"><%= key %></a>
    <% } %>
    <% }); %>
    <% } %>
    <span class="copyright"><%= theme.copyright %></span>
    <!-- highlight.js代码高亮主题 script 引入-->
    <script src="/plugins/highlight/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</footer>